@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% of the viewport height */
}
#ourTeam {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#aboutUsContainer {
    height: 80vh;
}
#paloAltoPantryNavText {
    padding-right: 50vw;
}
#miloModal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    /* Hide the modal initially */
    display: none;
}
.animateModal {
    animation: modalTransition 1s;
}
.animateScroll {
    animation: fadeInUp 1s;
}
/* This class will be used when we want to stop the user from being able to scroll */
.no-scroll {
    overflow: hidden;
    height: 100%;
}
#mainContent {
    background-color: white;
    flex: 1;
}
.dimmed {
    filter: brightness(70%);
}
@keyframes modalTransition {
    0% {
        -webkit-transform: translate(-50%, calc(-50% - 1200px)) scale(0.7);
        transform: translate(-50%, calc(-50% - 1200px)) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translate(-50%, -50%) scale(0.7);
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
.navbarElement{
    transition: all 0.3s ease;
}
/* page transition */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
opacity: 0;
}
footer {
    margin-top: auto;
}