@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    font-family: 'Montsererat', sans-serif;
}
#ourTeam {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#aboutUsContainer {
    height: 100vh;
}